<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-fire"> Most Popular</i></h5>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each sidebar.popular}}
                <div class="col-md-4">
                    <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{filename}}" class="w-100 h-100 image-thumbnail" alt="foto">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>