<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-chart-bar"> Stats</i></h5>
    </div>
    <div class="card-body">
        <p><i class="fa fa-images"> Images: {{sidebar.stats.images}}</i></p>
        <p><i class="fa fa-comments"> Comments: {{sidebar.stats.comments}}</i></p>
        <p><i class="fa fa-eye"> Views: {{sidebar.stats.views}}</i></p>
        <p><i class="fa fa-heart"> Likes: {{sidebar.stats.likes}}</i></p>
    </div>
</div>