<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imgShare</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.css">
    <script src="https://kit.fontawesome.com/3338cec235.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/public/img/imgshare-logo.png" alt="logo">
            </a>
        </div>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{ body }}}
            </div>
            <div class="col-md-4">
                {{> stats }}
                {{> popular }}
                {{> comments }}
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="/public/js/script.js"></script>
</body>
</html>